@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&display=swap');


:root {
    --success: #0fb;
    --primary: #0ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {

    font-family: 'poppins', sans-serif;
    font-style: normal;
    background-color: #212121;
    color: white;
    min-height: 100vh;
    width: 100%;
    position: relative;
}

/* -------------utilities----------------------------------- */

.container {
    width: 1100px;
    margin: 0 auto;
}

.bx {
    font-size: 25px;
    display: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 14px;
    color: white;
}

h1 {
    font-size: 6.2rem;
}

p {
    font-size: 14px;
}

img {
    width: 100%;
}

/* -------------utilities----------------------------------- */

.header {}

/* -------------------navbar--------------------------------------- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
    height: 60px;
}

.navbar .fa {
    display: none;
    font-size: 30px;
    margin-left: 5px;
}

.navbar_logo {
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar_nav {
    display: flex;
    align-items: center;
}

.navbar-items {
    padding-left: 30px;
    font-size: 1.5rem;
    font-weight: 700;

}

.navbar-items .active {
    color: var(--primary);
}

.navbar-items::after {
    content: '';
    width: 0;
    height: 4px;
    background-color: var(--success);
    display: block;
    margin: auto;
    transition: .5s;
}


.navbar-items:hover::after {
    width: 100%;
}


/* ------------------End-navbar--------------------------------------- */

/* --------------------media querries--------------------------------- */

@media (max-width:768px) {

    html,
    body {
        overflow-x: hidden;
    }

    .navbar .fa {
        display: block;
    }

    .navbar_nav {
        flex-direction: column;
        justify-content: flex-sta;
        align-items: flex-start;
    }

    .navbar_collapse {
        position: absolute;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        background-color: gray;
        transition: 1s;

    }

    .navbar-items {
        margin: 30px 0px 0px 30px;
    }
}

/* -----------------End---media querries--------------------------------- */